.mainContainer{
    position: relative;
}
.wrapper{
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 1400px;
}
.wrapper > *{
    flex-basis: 50%;
}
.container{
    width: 90%;
    margin: auto;
    max-width: 1400px;
}
.content{
    background-color: var(--main-bg-col);
}