.fillStar, .outlineStar{
    cursor: pointer;
    color: var(--gold-bg-col);
}
.review{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review p:first-child{
    flex-basis: 15%;
}
.review p:last-child{
    text-align: end;
    flex-basis: 10%;
}