.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    left: 0;
    top: -1px;
    z-index: 2;
    padding: 1rem 6rem;
    transition: background .5s linear;
}
.logoContainer h1{
    color: var(--text-col);
    font-size: 2rem;
    font-weight: 700;
}
.logoContainer{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.logo{
    cursor: pointer;
    max-width: 4rem;
}
.back{
    display: none;
}
.menu{
    display: none;
}

.back svg, .menu svg{
    transform: scale(1.3);
}

@media (max-width: 900px){
    .logoContainer h1{
        display: none;
    }
}
@media(max-width: 478px){
    .header{
        padding: 1rem;
    }
    .logoContainer{
        flex-basis: 100%;
    }
    .logoContainer h1, .logo{
        display: none;
    }
    .back, .menu{
        display: block;
    }
}