.container{
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: .5rem 1rem;
    background-color: var(--dark-blur-bg-col);
    border-radius: .5rem;
    overflow: hidden;
}
.body{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.body input{
    padding: .5rem 3rem;
    height: 100%;
    width: 100%;
    background-color: var(--dark-blur-bg-col);
    outline: none;
    border: none;
    font-size: 1.25rem;
    color: var(--text-col);
    transition: background-color .2s ease-in-out;
}
.body input:focus{
    background-color: var(--blur-bg-col);
}
@media(max-width: 600px){
    .body{
        flex-grow: 1;
    }
    .body input{
        font-size: 1rem;
    }
}