.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchHide{
    display: none;
}
.formContainer{
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
    background-color:  rgba(34, 40, 49, 0.5);
    border-radius: 2rem;
    transition: width .5s ease-in-out;
}
.formContainer input{
    font-size: 1rem;
    background-color: rgba(34, 40, 49, 0);
    outline: none;
    border: none;
    color: var(--main-col);
    width: 500px;
}
.formGroup svg{
    color: #fff;
    margin-top: .2rem;
}
@media( max-width: 900px){
    .formContainer{
        width: 100%;
    }
    .formContainer input{
        width: 300px;
    }
}
@media (max-width: 600px){
    .formContainer{
        display: none;
    }
}