.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchHide{
    display: none;
}
.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    background-color:  rgba(34, 40, 49, 0.5);
    border-radius: 2rem;
}
.formContainer input{
    font-size: 1rem;
    background-color: rgba(34, 40, 49, 0);
    outline: none;
    border: none;
    color: var(--main-col);
    margin-left: 1rem;
    width: 483px;
    min-width: 300px;
    max-width: 1000px;
}
.formContainer button{
    border: none;
    background-color: rgba(34, 40, 49, 0);
}
.formGroup svg{
    color: #fff;
    margin-top: .2rem;
}
@media( max-width: 900px){

}
@media (max-width: 600px){
    .formContainer{
        display: none;
    }
}