.container{
    position: relative;
    margin: 8rem 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.content{
   flex-grow: 1;
   flex-basis: 80%;
   overflow: hidden;
}
@media(max-width: 1400px){
    .container{
        margin: 6rem 2rem;
    }
    .content{
        max-width: 80%;
    }
}
@media(max-width: 600px){
    .container{
        margin: 3rem 1rem;
    }
    .content{
        width: 100%;
    }
    .gameList, .gameList.swipeable{
        display: block;
    }
}