.container{
    flex-basis: calc(33% - 2rem);
    max-width: calc(100vw - 2rem);
    aspect-ratio: 16 / 9;
    min-height: 200px;
    border-radius: .35rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.imageContainer{
    position: relative;
    width: 100%;
    min-height: 100%;
    aspect-ratio: 16 / 9;
}
.contentContainer{
    padding: 1rem .5rem;
    width: 100%;
    aspect-ratio: 16 / 10;
    min-height: 100%;
    border-radius: .5rem .5rem 0 0;
    transform: translateY(-37%);
    transition: transform .5s ease-in-out, background-color .5s ease-in-out ;
}
.header{
    display: flex;
    justify-content: space-between;
}
.featureContainer{
    display: flex;
    gap: .5rem;
}
.feature{
    cursor: pointer;
    background-color: var(--dark-blur-bg-col);
    padding: .25rem;
    display: grid;
    place-items: center;
    border-radius: .25rem;
}
.feature svg{
    transition: transform .2s ease-in-out;
}
.feature:active svg{
    transform: scale(1.2);
}
.title{
    font-size: 1.5rem;
    position: relative;
    width: calc(100% - 4rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: .25rem;
}
@media(max-width: 600px){
    .container{
        flex-basis: 100%;
    }
}
@media(hover:hover){
    .container:hover .contentContainer{
        transform: translateY(-100%);
        background-color: var(--second-bg-col);
        border-radius: 0;
    }
    .title:hover{
        text-decoration: underline;
    }
    .feature:hover{
        background-color: var(--blur-bg-col);
    }
}