.container{
    position: relative;
    flex-basis: 23%;
    min-width: 20rem;
    max-width: 30rem;
    aspect-ratio: 4 / 3;
    display: flex;
    flex-direction: column;
}


.imageContainer{
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: .35rem .35rem 0 0;
    overflow: hidden;
}
.contentContainer{
    position: relative;
    background-color: var(--text-col);
    display: flex;
    align-items: center;
    padding: 1rem .5rem;
    gap: .5rem;
    border-radius: 0 0 .35rem .35rem;
    flex-grow: 1;
    overflow: hidden;
}
/* to make difference layout tags or genres with games */
.contentContainer.tags{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background-color: var(--dark-bg-col);
    align-items: flex-end;
}
.contentContainer.tags .header{
   margin-bottom: 1rem;
   padding: .5rem;
   width: fit-content;
   margin: 1rem auto;
   position: relative;
}
.contentContainer.tags .header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    text-align: center;
    background-color: var(--text-col);
    overflow: hidden;
    color: var(--main-bg-col);
    transition: width .5s ease-in-out;
}

.contentContainer.tags .title{
    text-align: center;
}
.contentContainer.tags .genres{
   flex-grow: 1;
}
.contentContainer.tags .linkContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-bg-col);
    padding: .5rem  1rem;
    border-radius: .25rem;
    border: 1px solid var(--text-col);
}
.contentContainer.tags .linkContainer span{
    min-width: 100%;
    position: relative;
}
.contentContainer.tags .linkContainer span::after{
    content: attr(data-count);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: .75rem;
}

.content{
    flex-grow: 1;
}
.gameProfilePic{
    position: relative;
    width: 4rem;
    aspect-ratio: 1;
    border-radius: .5rem;
    overflow: hidden;
}
.title a{
    font-size: 1.25rem;
    position: relative;
    z-index: 1;
}
.linkContainer a{
    font-size: .75rem;
    width: max-content;
    display: block;
    max-width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.title a, .linkContainer a, .platformsContainer span, .featureContainer{
    color: var(--main-bg-col);
}
.header a{
    transition: background-color .5s ease-in-out;
}
.body{
    display: flex;
    gap: 1rem;
}
.platformsContainer{
    margin-left: auto;
    display: flex;
}
.platformsContainer span{
    margin-left: .25rem;
}
.starContainer div svg{
    font-size: 1rem;
}
.wrapper{
    margin-left: auto;
    width: 5rem;
}
.featureContainer{
    display: none;
}
.feature{
    padding: .25rem;
    border-radius: .25rem;
    animation: fade .5s ease-in-out;
}
.contentContainer.tags .title a,.contentContainer.tags .linkContainer a,.contentContainer.tags .platformsContainer span{
    color: var(--text-col);
}
.contentContainer.tags .featureContainer{
    color: var(--red-bg-col);
}
.contentContainer.tags .wrapper{
    margin: 0;
}
@media(hover:hover){
    .contentContainer:hover .featureContainer{
        display: flex;
        justify-content: center;
        gap: .25rem;
    }
    .feature:hover{
        background-color: var(--dark-blur-bg-col);
    }
    .title:hover{
        text-decoration: underline;
    }
    .contentContainer.tags .linkContainer span:hover{
        background-color: var(--dark-blur-bg-col);
    }
    .contentContainer.tags .header:hover .title a{
        color: var(--main-bg-col);
    }
    .contentContainer.tags .header:hover::before{
        width: 100%;
    }
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media(max-width: 600px){
    .container{
        flex-basis: 100%;
    }
    .feature{
        font-size: 2rem;
    }
}