.container{
    position: sticky;
    top: 8rem;
    height: fit-content;
    max-height: 90vh;
    flex-basis: 20%;
    min-width: 400px;
    background-color: var(--second-bg-col);
    padding: 1.5rem 1rem;
    border-radius: .5rem;
    overflow: auto;
}
.container::-webkit-scrollbar{
    opacity: 0;
}
.user{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}
.profilePic{
    position: relative;
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    background-image :url('../../public/images/user_fallback.webp');
    background-size: cover;
    background-position: center;
}
.profilePic span{
    min-height: 100%;
    aspect-ratio:16 / 9;
}
.profileDesc{
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
}
.name{
    flex-basis: 100%;
    max-width: 200px;
    white-space: nowrap;
    font-size: 1.25rem;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}
.title{
    font-size: 1rem;
    font-weight: 400;
    margin-top: .5rem;
}
.filter{
    display: flex;
    gap: .5rem;
}
.list{
    background-color: var(--blur-bg-col);
    padding: 1rem 0;
    margin-top: 1rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.list > p{
    margin: auto;
}
.navBtn{
    width: fit-content;
    padding: .5rem 1rem;
    margin: auto;
    border-radius: .25rem;
    transition: background-color .5s ease-in-out;
}   
.navBtn a{
    color: var(--main-bg-col);
    font-weight: 600;
    font-size: 1rem;
}
.btn.active{
    background-color: var(--text-col);
    color: var(--main-bg-col);
}
@media (hover:hover){
  .btn:hover{
    background-color: var(--blur-bg-col);
  }
  .navBtn:hover{
    background-color: var(--dark-bg-col);
    outline: 1px solid var(--text-col);
  }
  .navBtn:hover a{
    color: var(--text-col);
  }
  .btn.active:hover{
    color: var(--text-col);
  }
}
@media(max-width: 1400px){
    .container{
        top: 6rem;
    }
}
