.mainContainer{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-direction: column;
}

.imgShowContainer{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.imgShow{
    display: flex;
    filter: brightness(.7);
    width: 100%;
    transition: .5s ease-in;
    aspect-ratio: 16 / 9;
}
.imgShow div{
    position: relative;
    flex-basis: 100%;
    min-width: 100%;
}
.carouselContainer{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.carouselImg{
    transition: transform .5s ease-in-out;
    display: flex;
    height: 8rem;
}
.img{
    flex-basis: 50%;
    min-width: 50%;
    position: relative;
}
.navContainer{
    position: absolute;
    padding: 0 1rem;
    left: 0;
    top: 50%;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    transform: translate(0, -50%);
}
.toggleBtn{
    background-color: var(--dark-blur-bg-col);
    color: var(--text-col);
    padding: 1rem;
    border-radius: .25rem;
    font-size: 2rem;
}
@media(max-width: 600px){
    .carouselContainer{
        gap: .5rem;
    }
    .imgShowContainer{
        display: none;
    }
}
@media(hover:hover){
     .navContainer:hover{
        opacity: 1;
    }
}