.container{
    margin: auto;
    width: 90%;
    max-width: 1400px;
}
.container h1{
   margin-bottom: 2rem;
}
.ratingHeader{
    border: 2px solid var(--text-col);
    border-radius: .25rem;
    padding: 1rem 1rem;
    background-color: var(--dark-blur-bg-col);
    width: fit-content;
}
.ratingContainer{
    margin-top: 2rem;
    background-color: var(--dark-blur-bg-col);
    padding: 1rem 2rem;
    border: 1px solid var(--text-col);
    border-radius: .25rem;
}
.starContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rateBtn{
    padding: .25rem .5rem;
    background-color: var(--dark-blur-bg-col);
}
.rateBtn p{
    color: var(--text-col);
}
.rateBtn p:hover{
    text-decoration: underline;
}


