.container{
    position: sticky;
    top: -1px;
    z-index: -100;
}
.image{
    max-width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    transition: filter .5s ease-in-out;
}
