.requirementHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    transition: outline .2s ease-in-out;
}
.requirementHead:hover{
    outline: 2px solid var(--text-col);
}
.requirementDesc{
    padding: 0 2rem;
    overflow: hidden;
    font-size: 0px;
    overflow: hidden;
    transition: opacity .25s ease-in, font-size 1s ease-in-out;
    opacity: 0;
}
.requirementDesc:hover,
.requirementHead:hover ~ .requirementDesc{
    opacity: 1;
   font-size: 1.5rem;
}
.title{
    font-size: 1.75rem;
}
.requirementHead:hover > .chevron{
    transform: rotate(180deg);
}
.chevron{
   font-size: 2rem;
   transition: .5s ease-in-out;
}
.textContent{
    margin-top: 1rem;
}