.requirement{
    border-radius: .5rem;
}
.requirement:not(:first-child){
    margin-top: .5rem;
}
.requirementHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    transition: outline .2s ease-in-out;
}
.requirementDesc{
    padding: 0;
    font-size: 0px;
    transition: opacity .25s ease-in, font-size 1s ease-in-out;
    opacity: 0;
}
.requirementDesc:target{
    padding: 1rem 2rem;
    opacity: 1;
    font-size: 1.5rem;
}
.title{
    font-size: 1.75rem;
}
.chevron{
   font-size: 2rem;
   transition: .5s ease-in-out;
}
.textContent{
    margin-top: 1rem;
}
@media(hover:hover){
    .requirementHead:hover > .chevron{
        transform: rotate(180deg);
    }
    .requirement:hover{
        background-color: var(--blur-bg-col);
        outline: 2px solid var(--text-col);
    }
    .requirementHead:hover{
        background-color: var(--blur-bg-col);
    }
}
@media(hover:none){
    .requirementDesc:target{
        background-color: var(--blur-bg-col);
        outline: 2px solid var(--text-col);
    }
}
@media(max-width: 600px){
    .title{
        font-size: 1rem;
    }
    .requirementDesc:target{
        font-size: 1rem;
    }
}