.container{
    margin-top: 4rem;
}
.gameList{
    position: relative;
    margin-top: 2rem;
    scroll-behavior: smooth;
}
.gameList.swipeable{
    display: block;
    overflow-x: auto;
}
.gameList::-webkit-scrollbar{
    opacity: 0;
}
.header, .navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.nav{
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.swipper{
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.swipper.swipeable{
    flex-wrap: nowrap;
}
.title{
    color: var(--main-bg-col);
    background-color: var(--text-col);
    padding: .5rem 1rem;
    width: fit-content;
    border-radius: .25rem;
}
.btn{
    width: fit-content;
    cursor: pointer;
}
.btn.active{
    background-color: var(--text-col);
    color : var(--main-bg-col);
}
.filterContainer{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
}
.filter{
    display: flex;
    gap: 1rem;
}
@media(hover:hover){
    .filterContainer a:hover{
        text-decoration: underline;
    }
    .nav:hover{
        background-color: var(--blur-bg-col);
    }
}
@media (max-width : 600px){
    .container{
        margin-top: 0;
    }
    .title{
        margin-top: 2rem;
        font-size: 1.25rem;
    }
    .filterContainer{
        font-size: .75rem;
    }
    .swipper{
        flex-wrap: wrap;
    }
}