.mainContainer{
    display: flex;
    justify-content: space-between;
}
.descContainer{
   display: flex;
   flex-direction: column;
   gap: 2rem;
} 
.btnContainer{
    display: flex;
    gap: 2rem;
}
.btnContent{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.btnContent p{
    font-size: 1.5rem;
}
.buyBtn{
    background-color: var(--green-bg-col);
}
.buyBtn:hover{
    background-color: var(--cyan-bg-col);
}
.buyBtn svg{
    transform: scale(2);
}
.addBtn{
    background-color: var(--main-bg-col);
    border: 1px solid var(--text-col);
}
.addBtn:hover{
    background-color: var(--text-col);
}
.addBtn:hover p, .addBtn:hover svg{
    color: var(--main-bg-col);
}
.addBtn svg{
    transform: scale(2.5);
}
.addBtn p, .addBtn svg{
    color: var(--text-col);
}
.container > div{
    flex-basis: 50%;
}
.description{
    flex-basis: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.description p:not(:first-child){
    margin-top: 1rem;
}
.link:hover{
    text-decoration: underline;    
}
@media(max-width : 900px){
    .mainContainer{
        flex-direction: column;
        gap: 2rem;
    }
}
@media(max-width : 600px){
    .btnContainer{
        gap: 1rem;
    }
    .btnContent{
        gap: 1rem;
    }
    .btnContent p{
        font-size: 1rem;
    }
    .description p:not(:first-child){
        margin-top: .25rem;
    }
}
