.container{
    display: flex;
    width: 90%;
    margin: auto;
    max-width: 1400px;
}
.container > div{
    flex-basis: 50%;
}
.btnContainer > div{
    position: relative;
    z-index: 1;
}
.storeBtnContainer{
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.btn{
    opacity: 0;
    transform: translateY(-100%);
    transition: transform .5s ease-in-out, opacity .3s ease-in-out ;
    transition-delay: calc(var(--delay-time) * .2s);
}
.storeBtnContainer:target .btn{
    transform: translateY(0);
    opacity: 1;
}