.container{
    flex-basis: calc(50% - 1rem);
    max-width: calc(50% - 1rem);
}
.container h1{
    margin-bottom: 2rem;
}
@media(max-width: 900px){
    .container{
        flex-basis: 100%;
        max-width: 100%;
    }
}