.container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.img{
    transform: scale(.65);
}
.title{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 3px;
}
.desc{
    font-size: 3rem;
    width: 75%;
    text-align: center;
}
.author{
    margin-top: .5rem;
    font-size: 1rem;
}
.link{
    margin-top: 2rem;
}
.link a:hover{
    text-decoration: underline;
}