.container{
    padding: 1.75rem 1.5rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

@media(max-width: 1400px){
     .container{ 
      top: 6rem;
      height: 80vh;
    } 
}
@media(max-width: 600px){
    .container{
        top: 4rem;
        min-width: calc(100vw - 4rem);
        height: 90vh;
    }
}
